@import "normalize.css";
@import "variables.scss";

*,
body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: inherit;
}

.header {
  display: flex;
  align-items: center;

  .logo {
    margin: 12px 0 12px 51px;
    padding-right: 25px;
    border-right: 1px solid $header_grey;
    font-size: 29px;
    line-height: 42px;
  }
  nav {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      color: $main_blue;
      border: 1px solid $main_blue;
      padding: 8px 32px 9px;
    }
  }
  .media {
    margin-right: 50px;
    margin-left: auto;
    a:nth-of-type(1){
      margin-right: 13px;
    }
  }
}

main{
  .conference{
    background-color: $conference_background;
  }
}
