@import "normalize.css";
@import "variables.scss";

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeueCyr, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  color: $conference_background;
  cursor: default;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer!important;
}
button {
  background-color: inherit;
  border: none;
  cursor: pointer!important;
}
a svg{
  cursor: pointer!important;
}
input, textarea{
  cursor: text;
}

.header {
  display: flex;
  align-items: center;

  a,
  button {
    font-size: 16px;
  }

  .logo {
    margin: 12px 0 12px 51px;
    padding-right: 25px;
    border-right: 1px solid $header_grey;
    font-size: 29px;
    line-height: 42px;
    z-index: 12;
    cursor: def;
  }
  nav {
    margin-top: 6px;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      color: $main_blue;
      border: 1px solid $main_blue;
      padding: 8px 32px 9px;
    }
  }
  .media {
    margin-right: 50px;
    margin-left: auto;
    a:nth-of-type(1) {
      margin-right: 13px;
    }
  }
  .hamburger-menu {
    display: none;
  }
}

main {
  .conference {
    color: $text-white;
    background-color: $conference_background;
    position: relative;
    padding: 69px 220px 86px;

    .logo {
      position: absolute;
      top: 32px;
      right: 38px;
    }
    .img_text {
      margin-left: -60px;
      margin-bottom: 65px;
    }
    button {
      color: $text-white;
      padding: 26px 50px 25px;
      background-color: $main_blue;
      letter-spacing: 9.38px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }
    p {
      width: 60%;
      margin-top: 41px;
      margin-bottom: 48px;
      color: $text-white;
    }
    p:nth-of-type(1) {
      font-weight: 500;
      font-size: 20px;
    }
    .anchor {
      display: grid;
      justify-content: center;
    }
  }

  // speaker - swiper
  .speakers {
    padding: 72px 220px 60px;

    .swiper {
      // width: 100%;
      height: 540px;

      h3 {
        // padding-left: 106px;
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: 300;
      }

      .swiper-wrapper {
        .swiper-slide {
          // padding: 0 50px;
          display: grid;
          justify-content: center;

          .swiper_img {
            cursor: pointer;

            background-image: url("../../../public/images/slider_img.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            height: inherit;
            width: 378px;

            .wrapper {
              background-color: $blue_apocity;
              position: absolute;
              top: 50%;
              width: 100%;
              padding: 25px 29px;
              p {
                color: $text-white;
              }
              p:nth-of-type(1) {
                margin-bottom: 8px;
                font-size: 24px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev,
      .swiper-button-next {
        height: 85px;
      }
      .swiper-button-prev:after,
      .swiper-button-next:after {
        content: "";
      }

      .swiper-pagination {
        .swiper-pagination-bullet-active {
          background-color: black;
        }
      }
    }
  }

  // form

  .form {
    background-color: $conference_background;
    padding: 140px 220px 160px;

    form {
      input.invalid,
      textarea.invalid {
        border-color: red;
      }

      h3 {
        margin-bottom: 62px;
        color: $text-white;
        font-size: 60px;
        font-weight: 300;
      }

      #name,
      #email {
        width: 49%;
        padding: 12px 20px;
      }
      #email {
        float: right;
      }
      #text {
        width: 100%;
        padding: 12px 20px;
        height: 120px;
        margin-top: 26px;
        margin-bottom: 28px;
      }

      .btn {
        text-align: right;
      }
      button {
        background-color: $main_blue;
        padding: 25px 40px;
        color: $text-white;
        letter-spacing: 9.38px;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

footer {
  color: $text-white;
  text-align: center;
  margin-top: 100px;

  a {
    display: block;
  }
  a:nth-of-type(1) {
    font-size: 40px;
    font-weight: 300;
  }
  a:nth-of-type(2) {
    font-size: 40px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  a:nth-of-type(3) {
    span {
      border-bottom: 1px solid $text-white;
      color: $text-white;
    }
  }
}
